<div class="siimple-navbar theme-navbar siimple-navbar--large">
    <a class="siimple-navbar-title"
       routerLink="/">
        <span class="siimple-brand">ngx-</span>

        <span class="siimple--text-normal"
              style="margin-left:-2px">smart-modal</span>
    </a>

    <a class="siimple-navbar-subtitle">v{{ libVersion }}</a>

    <a class="siimple-navbar-item siimple--float-right siimple--display-sm-none"
       href="https://github.com/biig-io/ngx-smart-modal"
       target="_blank">
        GitHub
    </a>

    <a class="siimple-navbar-item siimple--float-right siimple--display-sm-none"
       routerLink="/demo">
        Demo
    </a>

    <a class="siimple-navbar-item siimple--float-right siimple--display-sm-none"
       routerLink="/">
        Home
    </a>
</div>
