sudo: false
dist: trusty
language: node_js
node_js:
  - "7"
apt:
  sources:
    - google-chrome
  packages:
    - google-chrome-stable
before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sleep 3
script:
  - npm run build
