$maxWidth: 960px;
$cardWidth: 100px;
$cardHeight: 130px;

$colorMain: #3498db;
$colorMainDarker: #2980b9;
$colorSecundary: #9b59b6;
$colorSecundaryDarker: #9b59b6;

// colors
$dark: #333030;
$ocean: #2b90d9;
$grass: #3ac569;
$snow: #fff;
$salmon: #f32c52;
$sun: #feee7d;
$alge: #79a8a9;
$flower: #353866;
$coal: #202129;
$coal-dust: #edeeee;

// font import
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);

// font
$font-face: 'Roboto', sans-serif;

html, body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-face;
  font-size: 16px;
  transform: translate3d(0, 0, 0);
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#1e5799',
      endColorstr='#7db9e8',
      GradientType=1
  );
  background: #eee linear-gradient(
      135deg,
      $colorMainDarker 0%,
      $colorSecundaryDarker 100%
  ) fixed;
}

pre {
  display: block;
  unicode-bidi: embed;
  font-family: monospace;
  white-space: pre;
  overflow-x: auto;
  background-color: rgba(0, 0, 0, .75);
  border-left: .5rem solid rgba(0, 0, 0, .5);
  color: #fbaf5c;
  margin: 0;
  padding: 1rem;
}

.nsm-dialog {
  &.large-modal {
    max-width: none;
  }

  &.medium-modal {
    max-width: 1280px;
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: $maxWidth;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .title {
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
  }
}

.modal-image {
  max-width: 100%;
  border-radius: 3px;
  height: auto;
  display: block;
}

// button styles
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto;
}

.button {
  display: flex;
  overflow: hidden;

  margin: 10px;
  padding: 12px 12px;

  cursor: pointer;
  user-select: none;
  transition: all 60ms ease-in-out;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;

  color: #fff;
  border: 0 none;
  border-radius: 4px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  justify-content: center;
  align-items: center;

  &:hover {
    transition: all 60ms ease;

    opacity: .85;
  }

  &:active {
    transition: all 60ms ease;
    opacity: .75;
  }

  &:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
  }
}

.button.-regular {
  color: #202129;
  background-color: #edeeee;

  &:hover {
    color: #202129;
    background-color: #e1e2e2;
    opacity: 1;
  }

  &:active {
    background-color: #d5d6d6;
    opacity: 1;
  }
}

.button.-dark {
  color: $snow;
  background: $dark;

  &:focus {
    outline: 1px dotted white;
    outline-offset: -4px;
  }
}

.button.-green {
  color: $snow;
  background: $grass;
}

.button.-blue {
  color: $snow;
  background: $ocean;
}

.button.-salmon {
  color: $snow;
  background: $salmon;
}

.button.-sun {
  color: #f15c5c;
  background: $sun;
}

.button.-alge {
  color: #f4f7f7;
  background: $alge;
}

.button.-flower {
  color: #fe8cdf;
  background: $flower;
}

.nsm-dialog {
  .button {
    &:first-of-type {
      margin-left: 0;
    }
  }
}

.nsm-dialog.no-padding {
  padding: 0;
}

.white {
  color: $snow;
  padding: 20px 0;
}

.go-back {
  display: block;

  a {
    color: #edeeee !important;
    text-decoration: none;
    font-size: 14px;

    &:hover,
    &:active,
    &:focus {
      color: #e1e2e2 !important;
      text-decoration: underline;
    }
  }
}

.h-block {
  color: white;
}

.footer {
  font-weight: 400;
  margin-top: 3rem;
  line-height: 2;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
