<div class="theme-footer siimple-footer--large">
    <div class="siimple-grid-row">
        <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col--sm-12">
            <div class="theme-footer-title">
                <span class="siimple-brand">ngx-</span>

                <span class="siimple--text-normal"
                      style="margin-left:-2px;">smart-modal</span>

            </div>

            <div class="theme-footer-subtitle">
                Current version: <strong>v{{ libVersion }}</strong>
            </div>

        </div>
        <div class="siimple-grid-col siimple-grid-col--8 siimple-grid-col--sm-12">
            Designed and built with love by <strong><a class="theme-footer-link"
                   href="https://github.com/maximelafarie">Maxime Lafarie</a>, <a class="theme-footer-link"
                   href="https://github.com/marco10024">Mark Lucas</a></strong> and <strong><a class="theme-footer-link"
                   href="https://github.com/biig-io/">Biig dev team</a></strong>.<br>
            Code available on <a href="https://github.com/biig-io/ngx-smart-modal"
               class="theme-footer-link"
               target="_blank">our GitHub repository</a>
            and released under the <strong>MIT License</strong>.
        </div>
    </div>


    <div class="theme-footer-rule"></div>
    <div class="siimple-grid-row">
        <div class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--sm-12"
             align="left">
            © 2017 - {{ disYear }} <strong>ngx-smart-modal</strong>
        </div>
        <div class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--sm-hide"
             align="right">

            <!-- <a href="https://www.siimple.xyz/legal/privacy.html"
               class="theme-footer-link theme-footer-link--inline">Privacy Policy</a> -->


            <!-- <a href="https://www.siimple.xyz/legal/cookies.html"
               class="theme-footer-link theme-footer-link--inline">Cookies Policy</a> -->

        </div>
    </div>
</div>
