.rickroll-container {
  position: relative;

  .rickroll-mask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.go-back-doc {
  :hover {
    cursor: pointer;

    .txt-back{
      text-decoration: underline;
    }
  }

  .back-txt-content {
    display: flex;
    justify-content: center;
    align-items: center;

    .emoji-back {
      font-size: 1.5rem;
    }
  }
}

span.draggable{
  color:white;
  padding: 5px;
  text-align: center;
  background-color:gray;
  margin-right: 10px;
}