/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);

html,
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  transform: translate3d(0, 0, 0);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=1 );
  background: #eee linear-gradient(135deg, #2980b9 0%, #9b59b6 100%) fixed;
}

pre {
  display: block;
  unicode-bidi: embed;
  font-family: monospace;
  white-space: pre;
  overflow-x: auto;
  background-color: rgba(0, 0, 0, .75);
  border-left: .5rem solid rgba(0, 0, 0, .5);
  color: #fbaf5c;
  margin: 0;
  padding: 1rem;
}

.large-modal {
  max-width: none !important;
}

.dialog.medium-modal {
  max-width: 1280px !important;
}

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  min-height: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container .title {
  color: #fff;
  text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.modal-image {
  max-width: 100%;
  border-radius: 3px;
  height: auto;
  display: block;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto;
}

.button {
  display: flex;
  overflow: hidden;
  margin: 10px;
  padding: 12px 12px;
  cursor: pointer;
  user-select: none;
  transition: all 60ms ease-in-out;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;
  color: #fff;
  border: 0 none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  justify-content: center;
  align-items: center;
  flex: 0 0 160px;
}

.button:hover {
  transition: all 60ms ease;
  opacity: .85;
}

.button:active {
  transition: all 60ms ease;
  opacity: .75;
}

.button:focus {
  outline: 1px dotted #959595;
  outline-offset: -4px;
}

.button.-regular {
  color: #202129;
  background-color: #edeeee;
}

.button.-regular:hover {
  color: #202129;
  background-color: #e1e2e2;
  opacity: 1;
}

.button.-regular:active {
  background-color: #d5d6d6;
  opacity: 1;
}

.button.-dark {
  color: #fff;
  background: #333030;
}

.button.-dark:focus {
  outline: 1px dotted white;
  outline-offset: -4px;
}

.button.-green {
  color: #fff;
  background: #3ac569;
}

.button.-blue {
  color: #fff;
  background: #2b90d9;
}

.button.-salmon {
  color: #fff;
  background: #f32c52;
}

.button.-sun {
  color: #f15c5c;
  background: #feee7d;
}

.button.-alge {
  color: #f4f7f7;
  background: #79a8a9;
}

.button.-flower {
  color: #fe8cdf;
  background: #353866;
}

.dialog .button:first-of-type {
  margin-left: 0;
}

.footer {
  font-weight: 400;
  margin-top: 3rem;
  line-height: 2;
  text-align: center;
  font-size: 12px;
  color: #fff;
}

/*# sourceMappingURL=styles.css.map */
